In [58]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [70]:
import os
os.chdir('/content/drive/My Drive')

In [71]:
!ls

 Anya.csv
'Chapter 24 Video Transcript.gdoc'
'Colab Notebooks'
'Copy of Rejuvenation Walkthrough 13.0.3.docx'
'CSIS Day 10.gdoc'
'CSIS Day 11.gdoc'
'CSIS Day 13.gdoc'
'CSIS Day 15.gdoc'
'CSIS Day 16.gdoc'
'CSIS Day 17.gdoc'
'CSIS Day 1.gdoc'
'CSIS Day 2.gdoc'
'CSIS Day 3: Cryptography.gdoc'
'CSIS Day 4- Cloud Software.gdoc'
'CSIS Day 5.gdoc'
'CSIS Day 6.gdoc'
'CSIS Day 7.gdoc'
'CSIS Day 8.gdoc'
'CSIS Day 9.gdoc'
'Demon Slayer S.1 E.01 (ROM _ ENG).txt'
'Edison CyberPatriots Linux Checklist Info Library.gdoc'
 Form.gsheet
'Great Posters.gdoc'
 kaggle.json
 Kanna.txt
 model_train_upload_workflow.ipynb
 Resume.gdoc
'Toram Online.gdoc'
'Untitled document (10).gdoc'
'Untitled document (11).gdoc'
'Untitled document (12).gdoc'
'Untitled document (13).gdoc'
'Untitled document (1).gdoc'
'Untitled document (2).gdoc'
'Untitled document (3).gdoc'
'Untitled document (4).gdoc'
'Untitled document (5).gdoc'
'Untitled document (6).gdoc'
'Untitled document (7).gdoc'
'Untitled document (8).gdoc'
'Untitled document (9).gdoc'
'Untitled document.gdoc'
'Untitled form (1).gform'
'Untitled form (2).gform'
'Untitled form.gform'
'Untitled form (Responses).gsheet'

In [72]:
import re
import pandas as pd

In [73]:
pattern = r'([a-zA-Z\s]+):(.+)'

In [74]:
data = {
    'name': [],
    'line': [],
}

In [75]:
with open('Kanna.txt', 'rt') as file:
  for line in file.readlines():
    match = re.findall(pattern, line)
    if match:
      name, line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [85]:
df = pd.DataFrame(data)

In [82]:
df.head()

         name                                               line
0   Kobayashi   Good grief. Why did you completely burn our i...
1       Tohru                                Well, my apologies.
2   Kobayashi                  Have more faith in the gas stove.
3       Tohru           I thought the heat wasn't strong enough.
4   Kobayashi                          Use a flame, not a blaze.

In [91]:
sum(df['name'] == ' Kanna')

80

In [92]:
len(df)

429

In [93]:
df.to_csv('Kanna.csv', index=False)